.carousel-indicators {
    margin-bottom: 21px;

    li {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 2px solid white;
        opacity: 1;
        background: transparent;
    }

    .active {
        background: white;
    }
}

.carousel-control-next,
.carousel-control-prev {
    align-items: flex-end;
    padding: 8px;
    width: auto;

    &,
    &:hover {
        opacity: 1;
    }

    &-icon {
        $size: 40px;
        width: $size;
        height: $size;
    }
}

.carousel-control-prev-icon {
    background-image: url('media/left.svg');
}

.carousel-control-next-icon {
    background-image: url('media/right.svg');
}

@media screen and (min-width: $breakpoint__small-nav) {
    .carousel-indicators {
        margin-bottom: 35px;
        
        li {
            $size: 23px;
            $margin: 5px;
            width: $size;
            height: $size;
            border-width: 3px;
            margin-left: $margin;
            margin-right: $margin;
        }
    }
    
    .carousel-control-next,
    .carousel-control-prev {
        padding: 30px;
    }
}