h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, h2, h3 {
	text-transform: lowercase;
	border: 3px solid transparent;
	color: $color__text-title;
	font-size: $font__size-h2;
	font-weight: $font__weight-title;
	margin: 18px 0;
	padding: .1em 0;
	line-height: 1;
	letter-spacing: $letter-spacing__title;
	max-width: 260px;
	width: 100%;
	display: inline-block;
}

h1 {
	border-color: $color__border-title;
	background: $color__border-title;
}

h2 {
	border-color: $color__ilona-2;
}

h4 {
	font-size: 1.1em;
	font-weight: bold;
	margin: .5em 0;
	font-style: italic;
}
