.site-header {
    position: relative;
}

.site-branding {
    text-align: center;
    line-height: 1;
}

.custom-logo-link {
    width: 75%;
    margin: 15px 0 12px;
}

/*--------------------------------------------------------------
## Circles
--------------------------------------------------------------*/
@import "circles";