.ilona-circles {
    position: absolute;
    width: 100%;
    height: 100%;
    
    &__container {
        position: absolute;
        top: 0;
        bottom: 0;
    
        &--narrow {
            left: 0;
            right: 0;
        }
    
        &--wide {
            display: none;
            width: 1280px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.ilona-circle {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

.ilona-circle-1 {
    background: $color__background-circle-1;
}

.ilona-circle-2 {
    background: $color__background-circle-2;
}

@media screen and (min-width: $breakpoint__small-nav) {
    .ilona-circles__container {
        &--narrow {
            display: none;
        }

        &--wide {
            display: block;
        }
    }
}