$color__ilona-1: #b4cc04;
$color__ilona-2: #ffe900;
$color__ilona-3: #e3e89b;
$color__ilona-4: #fff59b;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-navigation: $color__ilona-1;
$color__background-menu: $color__ilona-2;
$color__background-carousel: #444;
$color__background-circle-1: $color__ilona-3;
$color__background-circle-2: $color__ilona-4;
$color__background-info-box: $color__ilona-4;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: $color__link;
$color__link-hover: $color__link;
$color__text-main: #404040;
$color__text-title: #585857;
$color__text-menu: $color__text-title;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-title: $color__ilona-2;
