$size__site-main: 100%;
$size__site-sidebar: 25%;

$height__main-navigation: 64px;

$padding__menu-li-v: 0.5em;

$max-width__content: 1200px;
$max-width__content-inner: 900px;

$breakpoint__small-nav: 354px;
$breakpoint__md-carousel: 512px;
$breakpoint__lg-carousel: 932px;