.main-navigation {
	min-height: $height__main-navigation;
	background: $color__background-navigation;
	position: relative;

	.entry-title {
		border: none;
		background: transparent;
		color: white;
		text-align: center;
		max-width: none;
	}

	& > div {
		display: none;
		clear: both;
		background: $color__background-menu;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: $padding__menu-li-v 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: $padding__menu-li-v 0;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__text-menu;
		text-transform: lowercase;
		font-size: $font__size-h2;
		font-weight: $font__weight-title;
		letter-spacing: $letter-spacing__title;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: block;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	height: $height__main-navigation;
	color: white;
	border: none;
	background: transparent;
	padding: 0;
	font-size: 36px;
	cursor: pointer;
	width: $height__main-navigation;
	height: $height__main-navigation;

	&:focus {
		outline-color: transparent;
	}
}

@media screen and (min-width: $breakpoint__small-nav) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		
		.entry-title {
			display: none;
		}

		& > div {
			display: block!important;
			margin: 0 auto;
			padding: 0 16px;
			max-width: 720px;
			background: transparent;
		}

		ul {
			flex-direction: row;
			justify-content: space-between;
			padding: 17px 0 0;
		}

		li {
			padding: 0;

			/* Adjust middle element so that it is centered */
			&:nth-child(2) {
				/*margin-left: 29px;*/
			}

			/* Adjust first element to compensate for previous adjustment */
			&:first-child a {
				/*letter-spacing: 0.04em;
				margin-left: 2px;*/
			}
		}

		a {
			color: white;
			font-weight: 400;
		}
	}

	.current_page_item {
		text-decoration: underline;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
