.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.site-main {
	margin: 0 auto;
	max-width: $max-width__content;
	text-align: center;

	p,
	iframe,
	.wp-block-media-text {
		padding: 0 8px;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
