.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.site-main {
	margin: 0 auto;
	max-width: $max-width__content;
	text-align: center;

	p,
	iframe,
	ul,
	.wp-block-media-text {
		width: 100%;
		max-width: $max-width__content-inner;
		margin-left: auto;
		margin-right: auto;
		padding: 0 8px;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	margin: 0;

	& > p:first-child,
	& > h2:first-child,
	.carousel + p,
	.carousel + h2 {
		margin-top: 44.4px;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
